body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    font-family: monospace;
}

canvas {
    display: block; /* Fix small whitespace at bottom */
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 100;
    pointer-events: none;
    text-shadow: 0 0 5px black;
}
