body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  margin: 20px;
  font-size: 1.3em;
}
h2 {
  color: navy;
}
.term {
  margin: 20px auto;
  border: 5px solid #af1439;
  padding: 15px;
  border-radius: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; /* Stack top and bottom sections */
  page-break-inside: avoid;
}
.top-section {
  display: flex; /* Flexbox for image and title/definition */
  width: 100%; /* Take full width of term */
}
.definition {
  font-style: italic;
  margin-bottom: 10px;
}
.example {
  font-weight: normal;
  color: lightgray;
}
.pop {
  color: #af1439;
  font-weight: bold;
}
.badge {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  width: 75%;
  padding-left: 10px;
}
.examples {
  width: 100%; /* Take 90% width of term */
  margin-top: 5px; /* Add space between top and examples */
  margin-left: 30px;
  font-size: 1.2em;
}
img {
  max-width: 100%;
  border-radius: 100%;
}
.logo {
  height: 65px;
  margin-right: 20px;
}

.logo {
  height: 65px;
  margin-right: 20px;
}

.term-footer {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.values {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  font-size: 1.5em;
  /* Removed margin-top: 20px; */
}

poster {
  /* avoid break inside */
  page-break-inside: avoid;
}
